<!doctype html>
<htmll lang="NL">
	<head>
	<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Bedankt voor je Aanvraag</title>

<style>
	body {
	margin: 0;
		padding: 0;
		background: #f6f3ef;
		font-family: system-ui, -aooke-system, BlinkMacSystemfont, Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
		color:#6B6B6B		
	}
	a { text-decoration: none}
	@media (max-width: 600px){ 
		.container{ padding: 16px !important;}
		.btn{ padding: 10px 14px !important}}
		
		
		
		</style>
	</head>











</htmll>
	   
	   
	   
	   
	   
	   
	   
	   
